.hero-section{
    width: 100%;
    height: 90vh;
    margin-top:-30px;
    z-index: -1;
    position: relative;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0)),url(../Images/hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-container{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
h1{
    font-size: 50px;
    text-align: center;
}
p{
    font-size: 16px;
    text-align: center;
}
.button-container{
    margin-left: 250px;
}