.booking{
    padding: 5px 15px;
    border-radius: 5px;
    background: #5753FD;
    text-align: center;
}
.booking a{
    padding: 5px 15px;
    border-radius: 5px;
    background: #5753FD;
    text-align: center;
    font-size: medium;
}