.main-header{
    width:100%;
    height: 20%;
    background-color: #F58A52;
    z-index: 1;
    transition: .3s ease-in-out;
} 
.main-header.fixed{
    position: fixed;
    height: 10%;
    top: 0;
    left: 0;
    transition: .3s ease-in-out;
    
}
nav{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a{
    margin-left: 15px;
    text-decoration: none;
    color: #FFF;
    transition: .6s;

}
a:hover{
    color: #5753FD;

}
.Demo{
    padding : 10px;
    background-color: #5753FD;
    border-radius: 10px;
}
.Demo:hover{
    background-color: #cbcbef;
}