.social-nav{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.location{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
p{
    margin-left: 10px;
}
.fa{
    font-size: 20px;
    color: #F58A52;
}