.form-containers{
    width: 80%;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.category, .search{
    padding: 30px 20px;
}
.category label{
    font-size: 16px;
    margin-right: 5px;
}
.category select{
    padding: 8px 10px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    border-bottom: 1px solid #F58A52;
    border-top: 1px solid #F58A52;
}
.search input{
    width: 300px;
    padding: 8px 10px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    border-bottom: 1px solid #F58A52;
    border-top: 1px solid #F58A52;
    margin-right: 20px;
}
.search button{
    padding: 8px 10px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: #F58A52;
    color: #FFF;
    transition: .3s ease-in-out;
}
.search button:hover{
    color: #F58A52;
    border-bottom: 1px solid #F58A52;
    border-top: 1px solid #F58A52;
    background-color: #FFF;
}

.all-services-container{
    width: 80%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.multiple-service-Container{
    width: 30%;
    display: block;
    padding: 15px 10px;
    /* background-color: rgba(245, 138, 82, 0.2); */

}
.multiple-service-Container p{
    text-align: unset;

}
.multiple-service-Container img{
    width: 80%;
    object-fit: cover;
  }
  .multiple-service-Container .multiple-price-time{
      display: flex;
      align-items: center;
      /* justify-content: space-around; */
  }