.staff-online-booking{
    width: 80%;
    margin:50px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.staff, .online-booking{
    text-align: center;
}
img{
    align-items: center;
}
.text-staff-booking{
    padding: 5px 40px;
}
.text-staff-booking h2{
    color: #F58A52 ;
}